 [ req ]
 distinguished_name     = req_distinguished_name
 prompt                 = no

 [ req_distinguished_name ]
 C                      = ${country}
 ST                     = ${state}
 L                      = ${locality}
 O                      = ${orgName}
 OU                     = ${orgUnitName}
 CN                     = ${commonName}
 emailAddress           = ${email}


